@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");

/*
	Retrospect by Martin Clavey
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Reset */

#banner {
		background-image: url("images/overlay.png"), url("../../images/jaune.jpg");
		background-position: center; 
}

#banner img{
	/*width:7%;*/
width:133px;
}
